
.bt-buttoncta2 {
  background: #fa4617;
  color: #f3ede0;
  border: none;                
  border-radius: 10px;
  padding: 0.5rem 0.75rem;      
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bt-buttoncta2:hover,
.bt-buttoncta2:focus-visible {
  background: #ff5b25;          
}

.bt-buttoncta2-wrapper {
  display: flex;
  justify-content: center;    
  padding-top: 1rem;
}