.bt-buttoncta {
  background: #fa4617;
  color: #f3ede0;
  border: none;        
  border-radius: 10px;
  padding: 0.5rem 0.75rem;    
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bt-buttoncta:hover,
.bt-buttoncta:focus-visible {
  background: #ff5b25;        
}

.bt-buttoncta-wrapper {
  display: flex;
  justify-content: center;    
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}
