.bt-image-pair-box {
  background: #2A3D60;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  box-sizing: border-box;
}
