.bt-image-pair-box {
    background: #2A3D60;  
    border-radius: 20px;      
    padding: 1.75rem;          
    display: flex;
    justify-content: center;    
    align-items: center;         
    gap: 2rem;                 
    margin: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 360px;             
    box-sizing: border-box;  
  }
  