.bt-textt2-text {
    display: inline-block;      
    background: #0D1623;
    color: #C4C2BC;    
    font-weight: 500;      
    line-height: 1.2;       
    user-select: none;    
    font-size: 12px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .bt-textt2 {
    display: flex;     
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 1rem;
  }
  