.bt-subtitle-text {
    display: inline-block;         
    background: #0D1623;
    color: #C4C2BC;             
    font-weight: 400;            
    line-height: 1.2;                
    user-select: none;           
    font-size: 18px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .bt-subtitle {
    display: flex;          
    justify-content: center; 
    padding-bottom: 0.75rem;
  }
  