.bt-title2-text {
    display: inline-block;         
    background: #0D1623;
    color: #F3EDE0;            
    font-weight: 600;
    line-height: 1.2;                
    user-select: none;        
    font-size: 40px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .bt-title2 {
    display: flex;        
    justify-content: center;
    padding-bottom: 0.75rem;
  }
  